<div class="header-top">
    <div class="container">
        <div class="row">
          <div class="col-2 logo">
            <img src="assets/img/timetotravel.jpg" alt="logo">
          </div>
          <div class="col-8 title">           
            It's Time to Travel
          </div>
        </div>
      </div>
      
</div>

<div class="menu">

  <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-7">
      <ul>
        <li routerLink='/'>Home</li>
  
      </ul>
     </div>

    </div>
  </div>

</div>
