<div class="footer ">

    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-md-6 ">
          <div class="card card-body block">
            <h5 class="text-center mb-3">Popular Roads</h5>
          
                <ul class="row">
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  Miami to Denver</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  San Francisco to Chicago</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  New York to Denver</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  New York to Miami</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  Chicago to Miami</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  San Francisco to Miami</li>
                    
                   
                </ul>
           
          </div>
        </div>
  
        <div class="col-md-6">
        <div class="card card-body block" >
            <div id="why_buy">                            
                <div class="info_right">
                    <h5 class="text-center mb-3">Why buy tickets from us?</h5>
                    <ul>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Buy bus tickets</b> anytime from anywhere</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Pay by credit card, mobile banking or cash</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Get tickets delivered to your doorstep</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Dependable customer service <b>(8 AM to 11 PM)</b></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
      </div>
      <div class="row pt-5 mb-5 justify-content-center">
        <img src="../assets/img/sslcommerz_logo.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>